@import '../../scss/variables.scss';

.nav{
    --state-close: scale(0);
    --state-hamburguer:scale(1);
    --state-menu: translate(-100%);

    margin: 0 auto;
    width: 90%;
    overflow: hidden;

    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);

    &:target {
        --state-menu: translate(0);
        --state-close: scale(1);
        --state-hamburguer:scale(0);
    }

    &__logo{
        z-index: 2;
        
        span {
            font-size: 2.8em;
            font-weight: bold;
            color: $font-color-green;
            padding: 10px;
        }
        
        h2 {
            display: inline-block;
            position: relative;
            font-size: 2rem;
            top: -5px;
            color: $font-color-gray-superlight;
        
        }

    }
    
    &__hamburguer, 
    &__close{
        cursor: pointer;
        grid-column: -2/-1;
        grid-row: 1/2;
        transition: .4s transform;
        z-index: 2;
    }
    
    &__hamburguer{
        transform: var(--state-hamburguer);
    }
    
    &__close{
        transform: var(--state-close);
    }
    
    &__icon{
        width: 40px;
    }
    
    &__links{
        background-color: #000;
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
    
        display: grid;
        align-content: center;
        gap: 2em;
        padding-left: 5%;
    
        transform: var(--state-menu);
        transition: .3s transform;
    }
    
    &__item{
        list-style: none;
        width: max-content;
    }
    
    &__link{
        color: $font-color-gray-light;
        text-decoration: none;
        font-size: 1.3rem;
        letter-spacing: 2px;

        &:hover{
            color: $font-color-gray-superlight;
        }
    }

    .active {
        a {
            color: $font-color-green;
            font-weight: bold;    
        }

        .underline {
            height: 3px;
            width: 100%;
            background-color: $font-color-green;
        }
    }

}

@media (min-width:768px) {
    .nav{
        --state-hamburguer:scale(0);
        --state-menu: translate(0);
        
        &:target{
            --state-close: scale(0);
        }
    
        &__links{
            padding: 0;
            background-color: unset;
            position: unset;
            gap: 1.5em;
            grid-auto-flow: column;
        
            transform: unset;
    
            grid-column: -2/-1;
            grid-row: 1/2;
        }
    
        &__link{
            font-size: 1.3rem;
            letter-spacing: none;
        }
    }
    
}