@import '../../scss/variables.scss';

.nav {
    --state-close: scale(0);
    --state-hamburguer: scale(1);
    --state-menu: translate(-100%);

    z-index: 100;
    width: 100%;
    background-color: rgba($background-gray-black, 0.8);

    position: fixed;
    display: grid;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
    grid-template-columns: repeat(2, max-content);
    align-items: center;

    &:not(:target) {
        backdrop-filter: blur(10px);
    }

    &:target {
        --state-menu: translate(0);
        --state-close: scale(1);
        --state-hamburguer: scale(0);
        align-items: flex-start;
    }

    &__logo {
        z-index: 102;

        span {
            font-size: 2.8em;
            font-weight: bold;
            color: $font-color-green;
            padding: 10px;
        }

        h2 {
            display: inline-block;
            position: relative;
            font-size: 2rem;
            top: -5px;
            color: $font-color-gray-superlight;

        }

    }

    &__hamburguer,
    &__close {
        cursor: pointer;
        grid-column: -2/-1;
        grid-row: 1/2;
        transition: .4s transform;
        z-index: 101;
    }

    &__hamburguer {
        transform: var(--state-hamburguer);
    }

    &__close {
        transform: var(--state-close);
    }

    &__icon {
        width: 40px;
    }

    &__links {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        padding: 0;
        z-index: 101;
        
        display: grid;
        align-content: center;
        gap: 2em;
        padding-left: 5%;
        
        background-color: rgba($background-gray-black, .8);
        backdrop-filter: blur(10px);

        transform: var(--state-menu);
        transition: .3s transform;
    }

    &__item {
        list-style: none;
        width: max-content;
    }

    &__link {
        color: $font-color-gray-light;
        text-decoration: none;
        font-size: 1.3rem;
        letter-spacing: 2px;

        &:hover {
            color: $font-color-gray-superlight;
        }
    }

    .active-nav {
        a {
            color: $font-color-green;
            font-weight: bold;
            transition: all .3s ease-in-out;
        }

        .underline {
            height: 3px;
            width: 100%;
            background-color: $font-color-green;
            transition: all .5s ease-in-out;
            
            animation: build .3s;
        }
    }

}

@keyframes build {
    0% {
        width: 0;
    }
 
    100% {
        width: 100%;
    }
}

@media (min-width:640px) {
    .nav {
        max-width: 640px;
    }
}


@media (min-width:768px) {
    .nav {
        --state-hamburguer: scale(0);
        --state-menu: translate(0);
        max-width: 768px;
        backdrop-filter: blur(10px);

        &:target {
            --state-close: scale(0);
            height: auto;
        }

        &__links {
            padding: 0;
            background-color: unset;
            backdrop-filter: none;
            position: unset;
            height: auto;
            width: auto;
            gap: 1.5em;
            grid-auto-flow: column;
            transform: unset;

            grid-column: -2/-1;
            grid-row: 1/2;
        }

        &__link {
            font-size: 1rem;
            letter-spacing: none;
        }

        &__logo {

            span {
                font-size: 2em;
                padding: 6px;
            }

            h2 {
                font-size: 1.7rem;
            }

        }
    }

}

@media (min-width:1024px) {

    .nav {
        max-width: 1024px;

        &__link {
            font-size: 1.3rem;
        }

        &__logo {

            span {
                font-size: 2.8em;
                padding: 10px;
            }

            h2 {
                font-size: 2rem;
            }

        }
    }
}



@media (min-width: 1280px) {
    .nav {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .nav {
        max-width: 1536px;
    }
}