@import '../../scss/variables.scss';


.fixed {
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    
    .relative {
        
        position: relative;
        margin: 0 auto;
        max-height: 0;

        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

}




@media (min-width: 640px) {
    .fixed {
        display: block;
        .relative {
            max-width: 640px;
        }
    }
}

@media (min-width: 768px) {
    .fixed {
        .relative {
            max-width: 768px;
        }
    }
}

@media (min-width: 1024px) {
    .fixed {
        .relative {
            max-width: 1024px;
        }
    }
}

@media (min-width: 1280px) {
    .fixed {
        .relative {
            max-width: 1280px;
        }
    }
}

@media (min-width: 1536px) {
    .fixed {
        .relative {
            max-width: 1536px;
        }
    }
}