@import '../../scss/variables.scss';


.progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 20px;
    
    .squares {
        width: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

            .square {
                width: 20px;
                height: 20px;
                border: 3px solid $font-color-gray-light;
                transition: all .4s ease-in-out;
                transform: rotate(0deg);
                
                &:hover {
                    background-color: $font-color-gray-light;
                    transition: all 0.2s;
                }
            }

        }


    .vertical-line {
        width: 3px;
        height: 150px;
        background-color: $font-color-gray-light;
    }
}

.active-position {
    transform: rotate(45deg) !important;
    background-color: $font-color-gray-superlight !important;
    border: 1px solid $font-color-gray-superlight !important;
    transition: all .4s ease-in-out;
}