@import '../../scss/variables.scss';


.container-about {
    margin: 100px 0;
    
    .about-information {
        display: flex;
        flex-direction: column-reverse;

        .photo {
            width: 100%;
            
            .photo-lazy {
                width: 100%;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    max-width: 250px;
                    object-fit: fill;
                }
            }
        
        }

        .description {
            margin-top: 26px;
            color: $font-color-gray-superlight;
            font-size: 18px;
            font-weight: 400;
            font-family: 'Roboto';

            > p {
                margin: 10px auto;
            }
        }
    }

    .text-hightlight {
        color: $font-color-green;
        font-weight: 500;
    }
}



@media (min-width: 768px) {
    .container-about {
        .about-information {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            .photo {
                min-width: 250px;
                .photo-lazy {
                    img {
                        width: 100%;
                    }
                }
            } 
        }
    }
}


// @media (min-width: 1280px) {
//     .container-about {
//         .about-information {
//         }
//     }
// }
