@import '../../scss/variables.scss';


.container-about {
    // border: 1px solid  cadetblue;

    margin: 100px 0;
    
    .about-information {
        display: flex;
        flex-direction: column;

        .photo {
            width: 100%;
            
            .photo-lazy {
                width: 100%;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    max-width: 250px;
                    object-fit: fill;
                }
            }
        
        }

        .description {
            margin-top: 26px;
            color: $font-color-gray-superlight;
            font-size: 18px;
            font-weight: 400;
            font-family: 'Roboto';

            span {
                display: block;
                text-align: center;  
            }
        }

    }
}



@media (min-width: 768px) {
    .container-about {
        .about-information {
            display: grid;
            grid-template-columns: 300px 1fr;

            .photo {
                .photo-lazy {
                    img {
                        width: 100%;
                        shape-image-threshold: 0.5;
                        // margin-left: 20px;
                        // float: right;
                    }
                }
            } 
            

            .description {
                // width: 60%;
                text-align: justify;
                p span {
                    text-align: left;
                    font-weight: bold;
                    font-size: 24px;
                }
            }
        }
    }
}


@media (min-width: 1280px) {
    .container-about {
        .about-information {
            .description {
                font-size: 22px;
                text-align: justify;
            }
        }
    }
}
