@import '../../scss/variables.scss';

.header {

    // border: 1px solid red;
    width: 100%;
    margin: 20px auto;

    &-gretting {
        font-size: 2.4rem;
        color: white;

        span {
            color: $font-color-green;
        }
    }

    &-name {
        font-size: 2.8rem;
        color: $font-color-green;
    }

    &-interests {
        margin-top: 20px;
        font-size: 1.8rem;
        color: $font-color-gray-light;
    }

    &-minidescription {
        padding: 20px;
        padding-left: 0;
        font-size: 18px;
        color: $font-color-gray-superlight;
    }



    .btn-work {
        padding: 0.8em 1.8em;
        border: 2px solid #17C3B2;
        position: relative;
        overflow: hidden;
        background-color: transparent;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        transition: .3s;
        z-index: 1;
        font-family: inherit;
        color: #17C3B2;
   }
   
   .btn-work::before {
        content: '';
        width: 0;
        height: 300%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: #17C3B2;
        transition: .5s ease;
        display: block;
        z-index: -1;
   }
   
   .btn-work:hover::before {
        width: 105%;
   }
   
   .btn-work:hover {
        color: #111;
   }
   
}




@media (min-width: 1280px) {

    .header {
        &-gretting {
            font-size: 3.3rem;
        }
    
        &-name {
            font-size: 3.3rem;
        }
    
        &-interests {
            margin-top: 20px;
            font-size: 2.2rem;
        }
    
        &-minidescription {
            font-size: 22px;
        }
    }

}

