

.icon {
    width: 100px;
    height: auto;
    text-align: center;

    svg {
        width: 90px;
        height: 90px;
    }

    span {
        color: #fff;
        font-size: 17px;
    }

    .react-icon {
        font-size: 100px;
        // color: #9ba1ab;
    }

}