@import './scss/variables.scss';
@import './scss/fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

html {
    scroll-behavior: smooth;
}

#root {
    // min-width: 375;
    max-width: 100vw;
    overflow: auto;

    background-color: $background-gray-black;
}


#app {
    display: relative;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    height: 100%;
    border: 1px solid red;
}

.container-general {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}


@media (min-width: 640px) {
    #app {
        max-width: 640px;
        .container-general {
            width: 90%;
        }
    }
}

@media (min-width: 768px) {
    #app {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    #app {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    #app {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    #app {
        max-width: 1536px;
    }
}

   