//  Background colors

$background-white: #fff;

$background-gray-light: #c2c2c2;
$background-gray: #55545a;
$background-gray-dark: #2a2830;
$background-gray-black: #1d1b24;

$background-green-light: #53f6c7;
$background-green: #19d19d;

$background-pink-dark: #f21e4e;

//  Text colors

$font-color-white: #fff;

$font-color-gray-superlight: #d8d5d5;
$font-color-gray-light: #9d9d9d;
$font-color-gray: #303030;
$font-color-gray-dark: #212121;
$font-color-gray-superdark: #19191c;

$font-color-black: #000;

$font-color-green: #40d8bb;